body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body[data-season="0"] {
    background-color: #83924c;
}
body[data-season="1"] {
    background-color: #718f3f;
}
body[data-season="2"] {
    background-color: #b08f4d;
}
body[data-season="3"] {
    background-color: #9cbdc1;
}
#gameContainer {
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-areas:
        "gameplay sidebar"
        "healthbar sidebar";
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
    align-content: center;
    justify-items: center;
}
#gameplayContainer {
    grid-area: gameplay;
    width: 100%;
    height: 100%;
}
#sidebar {
    grid-area: sidebar;
}
#towerlist {
    list-style-type: none;
    padding: 1rem;
}
#towerlist li {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
#towerlist li[data-selected="true"] {
    border: 1px solid black;
}
#towerlist [data-tower="Corn"] .name::before {
    content: "Corn";
}
#towerlist [data-tower="Corn"] .image {
    background-image: url(./assets/images/corn.png);
    width: 32px;
    height: 74px;
    background-size: 600%;
    background-position-x: 100%;
    background-repeat: no-repeat;
}
canvas {
    width: 100%;
    object-fit: contain;

    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}
#healthbar {
    grid-area: healthbar;
}

progress {
    accent-color: red;
}
