body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
canvas {
    position: absolute;
    width: 100vmin;
    height: 100vmin;

    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}
